.w3-teal {
    background-color: #ff3823 !important;
    position: relative;
}

.w3-sidebar {
    background-color: #ff3823 !important;
    position: relative;

}

#mySidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#mySidebar .SidebarSection{
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

#mySidebar .SidebarDownSection {
    margin-top: 13rem;
    margin-bottom: 5rem;
}

.w3-bar-item.dropdownButton {
    color: #ff3823 !important;
    background-color: white;
    display: block;
}

.dropdownButton:hover {
    color: black;
}

/* Estilos para el contenido del menú desplegable */
.w3-dropdown-content {
    display: none; /* Ocultar por defecto */
    position: absolute;
    background-color: #f9f9f9; /* Color de fondo */
    min-width: 160px; /* Ancho mínimo */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Z-index para estar sobre otros elementos */
    left: 50%; /* Posición izquierda centrada */
    transform: translateX(-50%); /* Centrar horizontalmente */
    top: 50px; /* Ajustar la distancia desde la parte superior */
    border-radius: 4px; /* Borde redondeado */
}

/* Ajustar el margen y padding de los elementos de la lista */
.w3-dropdown-content a {
    padding: 10px 15px; /* Espaciado interno */
    display: block; /* Mostrar como bloques */
    color: black; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambiar el color de fondo de los elementos al pasar por encima */
.w3-dropdown-content a:hover {
    background-color: #ddd; /* Color de fondo al pasar */
}


.w3-bar-item,
.rectangle-button {
    font-size: 20px !important;
    /* Aumenta el tamaño de la fuente */
    padding: 12px 20px !important;
    /* Ajusta el padding para mejor visualización y clickeabilidad */
    color: white !important;
    /* Establece el color de la fuente a blanco */
}

/* Si deseas asegurarte de que todos los enlaces tengan texto blanco, incluido el botón de cerrar, puedes mantener esta regla general. Sin embargo, si el botón de cerrar ya es blanco y deseas mantenerlo así, este cambio no afectará ese estilo. */

/* Para mantener la coherencia, asegúrate de que el estado hover también refleje tu preferencia de diseño */
.w3-bar-item:hover,
.rectangle-button:hover {
    background-color: white !important;
    color: #ff3823 !important;
    /* Asegura que el texto cambie a color contrastante al pasar el mouse */
}

/* Considera añadir media queries si necesitas ajustar para dispositivos móviles */
@media (max-width: 600px) {

    .w3-bar-item,
    .rectangle-button {
        font-size: 18px !important;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
        padding: 10px 15px !important;
        /* Padding reducido para pantallas pequeñas */
        color: white !important;
        /* Mantiene el color del texto blanco */
    }
}

.horizontal-line-1 {
  display: block; /* Asegura que el elemento se comporte como un bloque */
  width: 242px;
  height: 0px;
  border-top: 2px solid #FFFFFF;
  margin: auto; /* Centra el bloque horizontalmente en su contenedor */
}
.contenedor-imagenes {
  display: flex; /* Activa Flexbox para el contenedor */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

.contenedor-imagenes img {
  margin: 0 10px; /* Añade un poco de margen entre las imágenes */
  width: 65px; /* Establece el ancho deseado */
  height: 60px; /* Establece la altura deseada */
  margin-top:10px;
}


/* Nuevo estilo para el contenedor de la barra lateral */
/* Agrega esta regla para el estado hover */

.w3-container h1 {
    text-align: left;
    /* Centra el título */
    font-size: 50px;
    /* Aumenta el tamaño de la fuente */
    margin-top: 1px;
    /* Ajusta el margen superior según necesites */
}
.bottom-links {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}
/* Estilos para el hover del botón de la barra lateral */
#openNav {
    background-color: #ff3823;
    /* Color de fondo original: rojo */
    color: white !important;
    /* Color del texto original: blanco */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
}

/* Estilos para el hover del botón de la barra lateral */
#openNav:hover {
    background-color: white !important;
    /* Fondo blanco al hacer hover */
    color: #ff3823 !important;
    /* Texto rojo al hacer hover */
}

/* Roboto Flex con peso 400 */
.roboto-flex-title {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Peso de la fuente */
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

/* Hurricane para uso regular */
.hurricane-regular {
    font-family: "Hurricane", cursive;
    font-weight: 400;
    /* Aunque Hurricane solo tiene un peso, es buena práctica especificarlo */
    font-style: normal;
}

.title-container h1,
.title-logo {
    display: inline-block;
    /* Hace que el logo y el título se muestren en línea */
    vertical-align: middle;
    /* Alinea verticalmente el logo y el título */
}

.title-logo {
    margin-right: 20px;
    /* Espacio a la derecha de la imagen */
    height: 100px;
    /* O la altura que desees para tu logo */
}




.noticias-1 {
    width: 132px;
    height: 31px;
    color: #EBEBEB;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
}

.rectangle-9 {
    width: 243px;
    height: 61px;
    padding: 8px;
    background: #00000000;
    border-color: #EBEBEB;
    border-width: 2px;
    border-style: solid;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-button {
    display: inline-block !important;
    padding: 10px 20px !important;
    background-color: #ff3823 !important;
    color: white !important;
    font-size: 18px !important;
    border: none !important;
    border-radius: 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    transition-duration: 0.4s !important;
}

.rectangle-button:hover {
    background-color: white !important;
    color: #ff3823 !important;
}

.team-primary {
    background-color: #007bff !important;
}

.team-warning {
    background-color: #ffc107 !important;
}

.team-success {
    background-color: #28a745 !important;
}

.team-danger {
    background-color: #dc3545 !important;
}


/* Estilos para inicio de sesión */
.tarjeta {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.encabezado-tarjeta {
    background-color: #ff3823;
    text-align: center !important;
    color: #fff;
    padding: 20px 0;
    /* Agrega relleno arriba y abajo de 20px */
}

.boton-inicio,
.boton-registro,
.boton-cancelar {
    background-color: #fff;
    color: #ff3823;
    border-color: #ff3823;
}

.boton-inicio:hover,
.boton-registro:hover,
.boton-cancelar:hover {
    background-color: #ff3823;
    color: #fff;
    border-color: #ff3823;
}


/* VISTA CALENDARIO */

/* Estilos para la fila de navegación */
.jornada-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 185px;
    margin-right: 185px;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para cada enlace de navegación */
.jornada-navegacion a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #333; /* Color de texto */
    transition: background-color 0.3s ease;
}

/* Cambia el fondo a blanco al pasar el ratón por encima */
.jornada-navegacion a:hover {
    background-color: #fff;
}

/* Estilos para el enlace "Jornada Anterior" */
.jornada-anterior,
.jornada-siguiente {
    color: #007bff; /* Color de texto normal */
    text-decoration: none; /* Elimina el subrayado */
    padding: 10px;
    background-color: #eaeaea; /* Fondo gris claro */
    border: 2px solid #fff; /* Borde blanco */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
    margin: 0 20px; /* Margen izquierdo y derecho de 20px */
    display: inline-block; /* Mostrar como bloque en línea */
}

/* Cambia el fondo y el borde a blanco al pasar el ratón por encima */
.jornada-anterior:hover,
.jornada-siguiente:hover {
    background-color: #fff;
    border-color: #eaeaea;
    color: #000000; /* Mantener el color de texto normal */
    text-decoration: none; /* Mantener la eliminación del subrayado */
}


/* Estilos específicos para el enlace de "Jornada X" (actual) */
.jornada-actual {
    color: #000000; /* Color de texto */
    font-weight: bold;
    padding: 10px;
    border-radius: 20px; /* Bordes circulares */
    background-color: #eaeaea; /* Fondo gris claro */
    border: 2px solid #fff; /* Borde blanco */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

/* Cambia el fondo y el borde a blanco al pasar el ratón por encima */
.jornada-actual:hover {
    background-color: #fff;
    border-color: #eaeaea;
}

.tabla-calendario {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fila-partidos-head {
    background-color: #f4f4f4;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.columna-fecha,
.columna-hora,
.columna-resultado {
    padding: 15px;
}

.columna-fecha {
    width: 10%; /* Ancho de la columna Fecha */
}

.columna-hora {
    width: 10%; /* Ancho de la columna Hora */
}

.columna-resultado {
    width: 95%; /* Ancho de la columna Partido */
    text-align: center; /* Alineación centrada para el contenido de la columna Partido */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
}

.resultado {
    display: inline-block;
    text-align: center; /* Alineación centrada para el resultado */
    width: 50px; /* Ancho del contenedor del resultado */
    margin: 0 5px; /* Espacio entre los resultados */
}



.fila-partido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Borde inferior para separar las filas */
}

.fila-par {
    background-color: #ffffff; /* Color de fondo para filas pares */
}

.fila-impar {
    background-color: #f4f4f4; /* Color de fondo para filas impares */
}