.w3-teal { 
    background-color: #ff3823 !important;   
  	position: relative;
}
    
.w3-sidebar {
    background-color: #ff3823 !important; 
        position: relative;
        
    }

.w3-bar-item, .rectangle-button {
font-size: 20px !important; /* Aumenta el tamaño de la fuente */
padding: 12px 20px !important; /* Ajusta el padding para mejor visualización y clickeabilidad */
color: white !important; /* Establece el color de la fuente a blanco */
}

/* Si deseas asegurarte de que todos los enlaces tengan texto blanco, incluido el botón de cerrar, puedes mantener esta regla general. Sin embargo, si el botón de cerrar ya es blanco y deseas mantenerlo así, este cambio no afectará ese estilo. */

/* Para mantener la coherencia, asegúrate de que el estado hover también refleje tu preferencia de diseño */
.w3-bar-item:hover, .rectangle-button:hover {
    background-color: white !important;
    color: #ff3823 !important; /* Asegura que el texto cambie a color contrastante al pasar el mouse */
}

/* Considera añadir media queries si necesitas ajustar para dispositivos móviles */
@media (max-width: 600px) {
    .w3-bar-item, .rectangle-button {
        font-size: 18px !important; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        padding: 10px 15px !important; /* Padding reducido para pantallas pequeñas */
        color: white !important; /* Mantiene el color del texto blanco */
    }
}

    /* Nuevo estilo para el contenedor de la barra lateral */
    #mySidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }
    .bottom-links {
        position: absolute;
        bottom: 0;
        margin-top: auto;
        width: 100%;
    }
    /* Agrega esta regla para el estado hover */
    .w3-bar-item:hover, .w3-button:hover {
        background-color: white !important;
        color: #ff3823 !important; /* Cambia el color del texto para mantener contraste */
    }
    /* Cambia el color del botón al hacer hover y cuando está activo */
   

.w3-container h1 {
    text-align: left; /* Centra el título */
    font-size: 50px; /* Aumenta el tamaño de la fuente */
    margin-top: 1px; /* Ajusta el margen superior según necesites */
    

/* Estilos para el hover del botón de la barra lateral */
#openNav {
    background-color: #ff3823; /* Color de fondo original: rojo */
    color: white !important; /* Color del texto original: blanco */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Estilos para el hover del botón de la barra lateral */
#openNav:hover {
    background-color: white !important; /* Fondo blanco al hacer hover */
    color: #ff3823 !important; /* Texto rojo al hacer hover */
}
/* Roboto Flex con peso 400 */
.roboto-flex-title {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Peso de la fuente */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* Hurricane para uso regular */
.hurricane-regular {
  font-family: "Hurricane", cursive;
  font-weight: 400; /* Aunque Hurricane solo tiene un peso, es buena práctica especificarlo */
  font-style: normal;
}
.title-container h1, .title-logo {
    display: inline-block; /* Hace que el logo y el título se muestren en línea */
    vertical-align: middle; /* Alinea verticalmente el logo y el título */
}

.title-logo {
    margin-right: 20px; /* Espacio a la derecha de la imagen */
    height: 100px; /* O la altura que desees para tu logo */
}




.noticias-1 {
  width: 132px;
  height: 31px;
  color: #EBEBEB;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
}

.rectangle-9 {
  width: 243px;
  height: 61px;
  padding: 8px;
  background: #00000000;
  border-color: #EBEBEB;
  border-width: 2px;
  border-style: solid;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-button {
    display: inline-block !important;
    padding: 10px 20px !important;
    background-color: #ff3823 !important;
    color: white !important;
    font-size: 18px !important;
    border: none !important;
    border-radius: 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    transition-duration: 0.4s !important;
}

.rectangle-button:hover {
    background-color: white !important;
    color: #ff3823 !important;
}
.team-primary {
    background-color: #007bff !important;
}

.team-warning {
    background-color: #ffc107 !important;
}

.team-success {
    background-color: #28a745 !important;
}

.team-danger {
    background-color: #dc3545 !important;
}
